*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    body{
        background: linear-gradient(to right,#e3f2fd, #fff);

        font-family: Arial, Helvetica, sans-serif;       
}

        h1,h2{
            font-weight: 700;
            font-style: italic;
        }
    .btn{
        border-radius: 30px;
    }
 .card:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(1.03);
    transition: 0.3s;
 }
 #l1:hover{
    background-color: #daebf8;
    border-radius: 10px;
    transition: 0.3s;
    text-decoration: aquamarine;
    color: palevioletred;
 }
 #button{
background-color: #03030ed0;
border-radius: 10px;
color: white;
width: 187px;
height: 43px;
border: none;
 }
 
#span{
  
    font-weight: 700;
}

#wholeA{
      text-decoration: none;

}

#navbar{

    position: fixed;
    margin-top: -205px;
    background-color:rgba(173, 216, 230, 0.925);
 z-index: 1000;
 

}


#navbar2{

    position: relative;
    margin-top: 200px;
}

#blur{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
   height: 80px;
    background: rgb(163 140 140 / 30%);
    backdrop-filter: blur(5px);
    z-index: 999;
    -webkit-backdrop-filter: blur(10px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

#blur h1,
#blur a{
    color: #007bff;
    filter: none;
}

body{
    padding-top: 90px;
}

#key{
    text-align: center;
    
}

#button:hover{
    background-color: #000000d0;
    color: white;
    transition: 0.3s;
}

#Wholesale:hover{
    background-color: #441616d0;
    color: white;
    transition: 0.3s;
}

#Retail:hover{
    background-color: #000000d0;
    color: white;
    transition: 0.3s;
  -moz-box-orient: block-axis;
  border: none;
}

#click:hover{
    background-color: #740d0dd0;
    color: white;
    transition: 0.3s;
   margin-left: 60px;
   size-adjust: initial;
   border: none;
   box-sizing: content-box;
   box-decoration-break: slice;
}

#icon{
    margin-left: 10px;
   background-color: rgb(98, 192, 199);
   block-size: 40px;
   mask-size: 50px;
   size: 44px;
}

#key1{
    position: absolute;
    /* text-align: center; */
    margin-top: 17px;
    margin-left: 323px;
}

#para{
     text-align: center;
     color: rgb(0, 0, 0);
}

#p{
    
    margin-top: 80px;
    margin-left: 200px;
}



